 
	<!-- footer -->
	<div id="footer">
		<div id="" class="ft_bottom">
			<div class="container">
				<div class="ft_links clearfix">
					<a href="../terms/privacy.html">개인정보처리방침</a>
					<a href="../terms/terms.html">이용약관</a>
					<a href="../wiset/location.html">찾아오시는 길</a>
					<a href="#">ADMIN</a>
				</div>
				<div class="ft_cnt">
					<div class="ft_info clearfix">
						<span class="ft_txt">전라북도 군산시 대학로 558번지 군산대학교 공과대학 5호관 8208호</span>
						<span class="ft_txt">Tel : 063-469-4867</span>
						<span class="ft_txt">Fax : 063-466-4867</span>
						<span class="ft_txt">Email : wiset@kunsan.ac.kr</span>
					</div>
					<span class="ft_copy">Copyrightⓒ KUNSAN ALL RIGHTS RESERVED</span>
				</div>
			</div>
		</div>
	</div>
	<!-- //footer -->
